@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway');
/*font-family: 'Kaushan Script', cursive;
font-family: 'Raleway', sans-serif;*/

@import "normalize";



//moving-background
#moving-bg{
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url(../img/bg_img/galaxy.jpg);
  background-size: 250% 100%;
  
  //background-attachment:scroll;
  animation: animatedBackground 35s linear infinite;
  
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	60% { background-position: 100% 100%; }
    80% { background-position: 0 0; }
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  padding: 2em .5em 14em .1em;
  margin: 0px auto;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 1.2px; }

.links {
    font-family: 'Raleway', sans-serif;
    padding: 5em;
    margin-top; 200px;
    font-size: 1.1em;
    color: white;
    letter-spacing: 1.2px;
    line-height: 1.8em; 
}

.condition {
 
 font-family: 'Raleway', sans-serif;
 color: white;
 width: 50%;
 border-radius: 3px;
 font-size: 1.5em;
 font-weight: 300;
 text-align: center;
 padding: 2em;
 margin: 200px auto;
 letter-spacing: .9px;
    
}
p{
 
 font-family: 'Raleway', sans-serif; 
 width: 43.3%;
    border-radius: 3px;
 color: white;
 font-size: 4em;
 font-weight: 300;
 text-align: center;
 padding: 1em;
 margin: -310px auto;
 letter-spacing: 9px;}


.city{

 font-family: 'Raleway', sans-serif;
  width: 50%;
    border-radius: 3px;
 color: white;
 font-size: 1.5em;
 font-weight: 300;
 text-align: center;
 padding: 2em;
 margin: 210px auto;
 letter-spacing: .9px;
    
}

.toggle-drawer {
  color: white;
  font-size: 1.2em;
  padding: .5em; }




// Drawer
aside {
  background: #100621;
  opacity: .9;
  position:absolute;
  height: 100%;
  min-height: 100%;
  
  left: -250px;
  width: 230px;
  
    // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  margin: 40px auto;
  height: 100%;
  width: 100%; }

// :target Selection from Sidebar
:target {
  z-index: 1;
}




