@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway');
/*font-family: 'Kaushan Script', cursive;
font-family: 'Raleway', sans-serif;*/

@import "normalize";

/* Styling */


//moving-background
#moving-background{
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url(../img/bg_img/galaxy.jpg);
  background-size: 250% 100%;
  
  //background-attachment:scroll;
  animation: animatedBackground 35s linear infinite;
  
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	60% { background-position: 100% 100%; }
    80% { background-position: 0 0; }
}



h1{
   font-size: 3em;
   color: #ffffff;
   text-align: center;
   padding: .2em;
   font-family:'Kaushan Script', cursive;
}

h3 {
 font-family: 'Raleway', sans-serif;
 color: white;
 font-size: .8em;
 text-align: left;
 padding: .2em;
 margin: auto;
 letter-spacing: .9px;
    
}

// Layout
article {
  display: flex;
  flex-wrap: wrap; 
  width: 15em;
  
}


// thumbnails

figure {
  background: black;
  opacity: .9;
  padding: 2em;
  width: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 1em;
  margin: auto;
}

img{
    width: 10em;
    margin: auto;
    padding: .2em;
    
}


// Drawer
aside {
  background: transparent; 
  position: fixed;
  height: 100%;
  min-height: 100%;
  
  left: -200px;
  width: 180px;
  
    // always on top
  z-index: 999999;
  // animate
  transition: right .35s;
}


h3:hover{
  font-size: .5em;    
    
}

img:hover {
    size: 5em;
}







// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background: red;
}
// Section 2
#two {
  background: green;
}
// Section 3
#three {
  background: blue;
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}

