//FONT
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900');
@import "normalize";

/* Styling */
body {
    background-image: url(/img/ep_naturalblack/ep_naturalblack.png);
    position: static;
}
h1{
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 10px ;
}
a {
	color: black;
	justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0 auto;
}
p {
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	word-spacing: 1px;
	text-align: center;;
}

// Drawer
.left-slider {
  background: white;
  position: fixed;
  height: 100%;
  min-height: 100%;
  
  left: -200px;
  width: 200px;
  
    // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background: rgba(200, 0, 0, 0.2);
}
// Section 2
#two {
  background: rgba(0, 200, 0, .2);
}
// Section 3
#three {
  background: rgba(0, 0, 200, 0.2);
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}

